[submodule "gsy-dex"]
	path = gsy-dex
	url = ../gsy-dex.git
[submodule "gsy-framework"]
	path = gsy-framework
	url = ../gsy-framework.git
[submodule "energyMarket"]
	path = src/gsy_e/energyMarket
	url =  src/gsy_e/energyMarket/.git
