sudo: false
dist: trusty
language: python
branches:
  only:
  - master
  - production

jobs:
 include:
   - python: 3.6
     env: TOXENV=travis
     install: .support/travis-install.sh
     script: .support/travis-run.sh
# this is to trigger a new build of d3a-web for every push to master
   - python: 3.6
     stage: trigger downstream
     jdk: oraclejdk8
     script: |
       echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
       if [[ (($TRAVIS_BRANCH == master) || ($TRAVIS_BRANCH == production)) &&
             ($TRAVIS_PULL_REQUEST == false) ]] ; then
         curl -LO --retry 3 https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh
         sh trigger-travis.sh --pro --branch $TRAVIS_BRANCH gridsingularity d3a-web $TRAVIS_ACCESS_TOKEN
       fi
# allow solium failure until issues #55 and #65 are fixed
 allow_failures:
   - python: 3.6
     env: TOXENV=solium
     install: .support/travis-install.sh
     script: .support/travis-run.sh
