sudo: false
dist: xenial
language: python
branches:
  only:
  - master
  - staging

jobs:
 include:
   - python: 3.8
     env: TOXENV=travis
     install: .support/travis-install.sh
     script: .support/travis-run.sh
# this is to trigger a new build of d3a-web for every push to master or production
   - python: 3.8
     stage: trigger downstream
     jdk: oraclejdk8
     script: |
       echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
       if [[ (($TRAVIS_BRANCH == master) || ($TRAVIS_BRANCH == staging)) &&
             ($TRAVIS_PULL_REQUEST == false) ]] ; then
         curl -LO --retry 3 https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh
         sh trigger-travis.sh --pro --branch $TRAVIS_BRANCH gridsingularity d3a-web $TRAVIS_ACCESS_TOKEN
       fi
