version: "3.9"

services:
  zookeeper:
    image: docker.io/bitnami/zookeeper:3.7
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: docker.io/bitnami/kafka:3
    ports:
      - "9092:9092"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CLIENT_PASSWORDS=bitnami
      - KAFKA_CLIENT_USERS=user
    depends_on:
      - zookeeper

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  
  gsy-market:
    image: gsy-e
    build: .
    command:
      - run
      - --setup
#      - api_setup.default_community
      - grid_fees.constant_grid_fees
      - --enable-bc
    volumes:
      - ./gsy_e-simulation/:/root/gsy_e-simulation # ~/gsy_e-simulation
    environment:
      - KAFKA_URL=kafka:9092
      - KAFKA_USERNAME=user
      - KAFKA_PASSWORD=bitnami
      - KAFKA_COMMUNICATION_SECURITY_PROTOCOL=PLAINTEXT
      - REDIS_URL=redis://redis
      - DEFAULT_SUBSTRATE_URL=ws://substrate1:9944
    depends_on:
      - kafka
      - redis
#      - substrate1

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
