site_name: 'D3A Wiki'
site_description: 'Wiki for the D3A by Grid Singularity'
site_author: 'Grid Singularity'
site_url: 'https://gridsingularity.github.io/d3a/d3a-documentation/'

nav:
- 'General Overview':
    - 'Energy Market Design Challenge': 'energy-market-challenge.md'
    - 'Grid Singularity Vision': 'vision.md'
    - 'Grid Singularity Technical Approach': 'technical-approach.md'
    - 'Licensing and Open Source Ethos': 'licensing.md'
- 'Market Mechanism':
    - 'Market Types: Spot, Balancing, and Futures': 'markets.md'
    - 'Bids/Offers Process and Hierarchical Market Structure': 'inter-area-agent.md'
    - 'Trading Strategies': 'default-trading-strategy.md'
    - 'Clearing Mechanisms':
        - 'Clearing Mechanism Types': 'clearing-purpose.md'
        - 'One-Sided Pay-as-Offer Market': 'one-sided-pay-as-offer.md'
        - 'Two-Sided Pay-as-Bid Market': 'two-sided-pay-as-bid.md'
        - 'Two-Sided Pay-as-Clear Market': 'two-sided-pay-as-clear.md'
    - 'Grid Fee Accounting':
        - 'Grid Fee Objectives': 'grid-fees.md'
        - 'Constant Grid Fee Calculation': 'constant-fees.md'
        - 'Percentage Grid Fee Calculation': 'percentage-fees.md'
    - 'Balancing Market':
        - 'Balancing Market Structure': 'balancing-market.md'
        - 'Balancing Market Implementation': 'balancing-implementation.md'
- 'Interface':
    - 'APIs':
        - 'Overview': 'api-overview.md'
        - 'Asset API': 'assets-api.md'
        - 'Grid Operator API': 'grid-operator-api.md'
    - 'Collaboration Tool': 'collaboration.md'
    - 'Canary Test Network': 'canary-network.md'
    - 'Blockchain Integration': 'blockchain.md'
- 'Configuration general settings and installation':
    - 'General Configuration Settings': 'general-settings.md'
    - 'Backend Installation Instructions':
        - 'Linux Installation Instructions': 'linux-installation-instructions.md'
        - 'Mac Installation Instructions': 'ios-installation-instructions.md'
        - 'Virtual Machine Installation Instructions': 'vm-installation-instructions.md'
        - 'Version Updates': 'version-update.md'
    - 'Modelling':
        - 'Setting up a simulation in the User Interface': 'ui-initialisation.md'
        - 'Market Settings': 'model-markets.md'
        - 'Energy Assets Configuration':
            - 'Market Maker and Infinite Bus': 'model-market-maker.md'
            - 'Load': 'model-load.md'
            - 'PV': 'model-pv.md'
            - 'Storage': 'model-storage.md'
            - 'Power Plant': 'model-power-plant.md'
        - 'Map': 'map.md'
        - 'File Upload Format': 'upload-file-formats.md'
        - 'Asset and Data Library': 'library.md'
    - 'Events (adding assets, communities, etc.)': 'events.md'
    - 'Results and Analysis':
        - 'Results Dashboard': 'results.md'
        - 'Key Performance Indicators (KPIs)':
            - 'Self-Sufficiency and Self-Consumption': 'self-sufficiency-consumption.md'
            - 'Peak Percentage': 'peak-percentage.md'
            - 'Energy Bill': 'energy-bills.md'
        - 'Data Download': 'data-download.md'
- 'References': 'references.md'
- 'Releases Archive': 'releases.md'


# Configuration for the Material theme
theme:
  name: null
  custom_dir: 'mkdocs-material/material'
  language: 'en'
  palette:
    primary: 'white'
    accent: 'teal'
  font:
    text: 'PT Sans'
    code: 'Ubuntu Mono'
  favicon: 'img/d3a-favicon.png'
  logo: 'img/d3a-logo.png'
  feature:
    tabs: false

# Extra css for further customization
extra_css:
  - 'stylesheets/extra.css'

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
  - https://research.web3.foundation/en/latest/mathjax-config.js

# Repository that houses the source code for this site. This
# is needed to render the nice GH link on the top right.
repo_name: 'D3A on github'
repo_url: 'https://github.com/gridsingularity/d3a/wiki'

# Social links
extra:
  social:
    - type: 'github'
      size: 'lg'
      link: 'https://github.com/gridsingularity'
    - type: 'twitter'
      size: 'lg'
      link: 'https://twitter.com/gridsingularity'
    - type: 'linkedin'
      size: 'lg'
      link: 'https://www.linkedin.com/company/grid-singularity'
    - type: 'slack'
      size: 'lg'
      link: 'https://join.slack.com/t/gsycommunity/shared_invite/zt-dpfxe2gk-hKFccsrr68g982odCJlrIg'
footer:
  logo: 'img/d3a-logo.png'

markdown_extensions:
    - admonition
    - codehilite:
        guess_lang: false
    - toc:
        permalink: true
    - mdtooltips
    - attr_list
