name: d3a-ci
on:
  pull_request:
    branches:
      - master
      - staging
jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      env:
        TOXENV: ci
        BRANCH: master
      run: |
        export SOLC_BINARY=$HOME/solc/usr/bin/solc
        export LD_LIBRARY_PATH=$HOME/solc/usr/lib:$LD_LIBRARY_PATH
        pip install tox
        tox -e $TOXENV --verbose

    - name: Check coverage with Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        verbose: true

    - name: Notify slack fail
      if: failure()
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      uses: voxmedia/github-action-slack-notify-build@v1
      with:
        channel: dev_cicd_errors
        status: FAILED
        color: danger
