name: d3a-ci
on:
  pull_request:
    branches:
      - master
      - staging
      - feature/D3ASIM-3140
jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      env:
        TOXENV: ci
        BRANCH: master
      run: |
        export SOLC_BINARY=$HOME/solc/usr/bin/solc
        export LD_LIBRARY_PATH=$HOME/solc/usr/lib:$LD_LIBRARY_PATH
        pip install -U tox
        tox -e $TOXENV --verbose
