name: gsy-e-ci
on:
  pull_request:
    branches:
      - master
      - staging
jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: 8BitJonny/gh-get-current-pr@1.3.0
      id: PR
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        sha: ${{ github.event.pull_request.head.sha }}
        filterOutClosed: true

    - name: parse integration tests branch
      env:
        prBody: ${{ steps.PR.outputs.pr_body }}
      run: |
        echo "::set-output name=INTEGRATION_TESTS_BRANCH::$(echo -e $prBody | sed -n 's/.*\*\*INTEGRATION_TESTS_BRANCH\*\*=\([^ ]*\).*/\1/p')"
      id: parse_branch


    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      env:
        TOXENV: ci
        GSY_FRAMEWORK_BRANCH: master
        INTEGRATION_TESTS_REPO: https://gsydev:${{ secrets.GSYDEV_TOKEN }}@github.com/gridsingularity/gsy-backend-integration-tests.git
        INTEGRATION_TESTS_BRANCH: ${{ steps.parse_branch.outputs.INTEGRATION_TESTS_BRANCH }}
      run: |
        export SOLC_BINARY=$HOME/solc/usr/bin/solc
        export LD_LIBRARY_PATH=$HOME/solc/usr/lib:$LD_LIBRARY_PATH
        pip install tox
        tox -e $TOXENV --verbose

    - name: Check coverage with Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        verbose: true
